@{
    ViewBag.Title = "Форма сброса пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>На указанный вами адрес электронной почты было послано письмо со ссылкой для сброса пароля. 
       Откройне его и перейдите по приведенной там ссылке.</p>
</div>
	
