@using BlackHoles.Models
@model Author

@{
    ViewBag.Title = "Описание автора";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("AuthorDetailsRus", Model)

<hr />

@Html.Partial("AuthorDetailsEnu", Model)
