@using BlackHoles.Models
@using BlackHoles.Utils
@model Author

<div class="with-spacing">
  @Html.MakeAuthorFioAndScienceDegree(Model.RusSurname, Model.RusInitials, Model.ScienceDegree)
  <br />
  <b>Место&nbsp;работы:</b>&nbsp;@Html.EnsureEndWithDot(Model.RusOrgName)
  @if (!string.IsNullOrWhiteSpace(Model.RusSubdivision))
  {
    @:<b>Подразделение:</b>&nbsp;@Html.EnsureEndWithDot(Model.RusSubdivision)
  }
  @if (!string.IsNullOrWhiteSpace(Model.RusPosition))
  {
    @:<b>Должность:</b>&nbsp;@Html.EnsureEndWithDot(Model.RusPosition)
  }
  <br />
  <b>E-mail:</b>&nbsp;@Html.EnsureEndWithDot(Model.Owner.Email)
</div>
