@using BlackHoles.Models
@using BlackHoles.Utils
@model Author

<div class="with-spacing">
  @Html.MakeAuthorFioAndScienceDegree(Model.EnuSurname, Model.EnuInitials, null)
  <br />
  <b>Place&nbsp;of&nbsp;employment:</b>&nbsp;@Html.EnsureEndWithDot(Model.EnuOrgName)
  <br />
  <b>E-mail:</b>&nbsp;@Html.EnsureEndWithDot(Model.Owner.Email)
</div>
