@model System.Web.Mvc.HandleErrorInfo

@{
  var title = "Error";
  ViewBag.Title = title;
}

<h1 class="text-danger">@title</h1>
<h2 class="text-danger">В процессе обработки запроса возникла ошибка!</h2>

