@model System.Web.Mvc.HandleErrorInfo

@{
  var title = "Заблокировано!";
  ViewBag.Title = title;
}

<hgroup>
  <h1 class="text-danger">@title</h1>
  <h2 class="text-danger">Учетная запись была заблокирована. Пожалуйста, повторите попытку позже.</h2>
</hgroup>
