body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 780px;
}

.comment-li {
  list-style-type: none;
}
.comment-ul {
  margin-left:  0px; /* Отступ слева в браузере IE и Opera */
  padding-left: 20px; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a.reply {
  cursor: pointer;
  border-bottom: 1px dashed;
  font-size: 80%;
}

.message-header {
  font-size: 80%;
  background-color: lavender;
}

.message-body {
  background-color: aliceblue;
}

.message-text {
  white-space: pre-line;
}

