body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
    max-width: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  /*max-width: 600px;*/
}

.comment-li {
  list-style-type: none;
}
.comment-ul {
  margin-left:  0px; /* Отступ слева в браузере IE и Opera */
  padding-left: 20px; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a.reply {
  cursor: pointer;
  border-bottom: 1px dashed;
  font-size: 80%;
}

.message-header {
  font-size: 80%;
  background-color: lavender;
}

.message-body {
  background-color: aliceblue;
}

.message-text {
  white-space: pre-line;
}


.fixed-width {
  max-width: 350px;
}

.labelx {
  display: inline;
  padding: .1em .4em .2em;
  font-size: 90%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.labelx[href]:hover,
.labelx[href]:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label2:empty {
  display: none;
}

.label2-default {
  background-color: #999999;
}


.label2-important {
  background-color: #E92620;
}

.label2-important[href]:hover,
.label2-important[href]:focus {
  background-color: #C11B15;
}

.label2-agree {
  background-color: #5cb85c;
}

.label2-agree[href]:hover,
.label2-agree[href]:focus {
  background-color: #449d44;
}


.RequiresVerification {
  display: inline;
  background-color: plum;
  color: white;
  font-weight: bold;
  padding: .1em .4em .2em;
  vertical-align: baseline;
  border-radius: .25em;
  white-space: nowrap;
  text-align: center;
}

.HasArrors {
  display: inline;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: .1em .4em .2em;
  vertical-align: baseline;
  border-radius: .25em;
  white-space: nowrap;
  text-align: center;
}

.Accepted {
  display: inline;
  background-color: mediumseagreen;
  color: white;
  font-weight: bold;
  padding: .1em .4em .2em;
  vertical-align: baseline;
  border-radius: .25em;
  white-space: nowrap;
  text-align: center;
}