@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<address>
  <b>Главный редактор</b> - Чистякова Людмила Александровна<br />
  <b>Контактный телефоны</b>: +7 (916) 320-71-78, +7 (499) 189-03-94.<br />
  <b>E-mail</b>: <a href="mailto:bp2702@yandex.ru">bp2702@yandex.ru</a><br />
  <b>E-mail</b> по вопросам, связанным с публикацией статей: <a href="mailto:vladdq@yandex.ru">vladdq@yandex.ru</a><br/>

  <b>Контактный телефон</b> издательства: +7 (916) 320-71-79, +7 (985) 064-35-38<br />
  <b>E-mail</b>: <a href="mailto:vlad@rsdn.org">vlad@rsdn.org</a><br />
    
</address>
