@using BlackHoles.Utils

@{ ViewBag.Title = "Требования"; }

<div style="max-width: 900px; margin: auto;">
  @Shared.HomeTab(ViewContext.RouteData.Values["action"].ToString())

  <h3 class="text-center bold">Требования издательства по оформлению статей</h3>

  <a name="citation"></a>
  <h4 class="text-center bold">Требования по оформлению цитат</h4>

  <b>Обратите внимание</b>, что нарушение данных требований может повлечь распознавание цитат как плагиата,
  что может <b>повлечь отказ</b> в публикации или <b>затянуть</b> обработку статьи.

  <p>
    1. Ссылки на источники даются (в сокращенном виде) по тексту в скобках (номер в списке литературы, запятая,
    пробел, "с.", пробел, страница), а также <b>в виде списка литературы в конце статьи</b> в алфавитном порядке,
    начиная с русских авторов. Библиографическое описание составляется в соответствии с действующим
    ГОСТом 7.1-2003. Ссылки нужно давать <b>в конце цитат</b>. Цитаты <b>выделять кавычками</b>.
    Несоблюдение этих правил может привести к тому, что автоматические системы выявления плагиат
    (например, http://www.antiplagiat.ru) будут воспринимать такие цитаты <b>как плагиат</b>.

  <p>
    2. Следует выделять не только цитаты авторских произведений, но и цитаты из нормативных актов, а так же собственных произведений.
    Список нормативных актов можно выделить в отдельный список или использовать единый список литературы.

  <p>
    3. <b>Не используйте</b> для формирования библиографических ссылок опцию "<b>постраничные и концевые сноски</b>"
    текстового редактора WORD.

  <p>
    <b>Образцы оформления ссылок</b>:
    <ul>
      <li>В тексте: «Цитата…» [3] В затекстовой ссылке: 10. Иванов И.А. Соверменная криминалистика. М.: Мысль, 1990. 175 с.</li>
      <li>В тексте: «Цитата…» [10, с. 81] В затекстовой ссылке: 10. Бердяев Н.А. Смысл истории. М.: Мысль, 1990. 175 с.</li>
      <li>В тексте: «Цитата…» [Бахтин, 2003, с. 18] В затекстовой ссылке: Бахтин М.М. Формальный метод в литературоведении: критическое введение в социальную поэтику. М.: Лабиринт, 2003. 192 с.</li>
      <li>В тексте: «Цитата…» [Целищев, ч. 1, с. 17] В затекстовой ссылке: Целищев В.В. Философия математики. Новосибирск: Издво НГУ, 2002. Ч. 1-2.</li>
      <li>В ссылках рекомендуется использовать иностранных авторов, работающих над исследуемой тематикой.</li>
    </ul>

  <h4 class="text-center bold">Аннотации</h4>
  <ol>
    <li>Аннотации должны быть четко структурированными и отражать следующие аспекты содержания статьи:
      <ul>
        <li>предмет, тему, цель работы;</li>
        <li>метод или методологию проведения работы;</li>
        <li>результаты работы;</li>
        <li>область применения результатов;</li>
        <li>выводы.</li>
      </ul>
    </li>
    <li>Объем аннотации должен включать минимум 100-250 слов (по ГОСТу – 850 знаков).</li>
  </ol>

  @Shared.HomeLinks(ViewContext.RouteData.Values["action"].ToString())
</div>