@using BlackHoles.Utils

@{ ViewBag.Title = "Требования"; }

<div style="max-width: 900px; margin: auto;">
  @Shared.HomeTab(ViewContext.RouteData.Values["action"].ToString())

  <h3 class="text-center bold">Требования издательства по оформлению статей</h3>

  <a name="citation"></a>
  <h4 class="text-center bold">Требования по оформлению цитат</h4>

  <b>Обратите внимание</b>, что нарушение данных требований может повлечь распознавание цитат как плагиата,
  что может <b>повлечь отказ</b> в публикации или <b>затянуть</b> обработку статьи.

  <p>
    1.&nbsp;@Shared.FormattingRequirements()
    Библиографическое описание (список литературы) составляется в соответствии с действующим ГОСТом 7.1-2003. 
    Несоблюдение этих правил может привести к тому, что автоматические системы выявления плагиата (например, http://www.antiplagiat.ru) 
    будут воспринимать такие цитаты <b>как плагиат</b>, а редакторам будет трудно понять, где начинается и заканчивается цитата.

  <p>
    2.&nbsp;Следует выделять не только цитаты авторских произведений, но и цитаты из нормативных актов, а так же <span class="Important">собственных произведений</span>.

  <p>
    3.&nbsp;<span class="Important">Не используйте</span> для формирования ссылок возможность "<b>постраничные и концевые сноски (Footnote)</b>" текстового редактора WORD. 
     <span class="Important">Оформляйте ссылки вручную</span>!

  <p>В ссылках рекомендуется использовать иностранных авторов, работающих над исследуемой тематикой.

  <p>
    <b>Образцы оформления ссылок</b>:
    <ul>
      <li>В тексте: «Цитата…» [3] В затекстовой ссылке: 3. Иванов И.А. Соверменная криминалистика. М.: Мысль, 1990. 175 с.</li>
      <li>В тексте: «Цитата…» [10, с. 81] В затекстовой ссылке: 10. Бердяев Н.А. Смысл истории. М.: Мысль, 1990. 175 с.</li>
    </ul>

  <h4 class="text-center bold">Аннотации</h4>
  <ol>
    <li>Аннотации должны быть четко структурированными и отражать следующие аспекты содержания статьи:
      <ul>
        <li>предмет, тему, цель работы;</li>
        <li>метод или методологию проведения работы;</li>
        <li>результаты работы;</li>
        <li>область применения результатов;</li>
        <li>выводы.</li>
      </ul>
    </li>
    <li>Объем аннотации должен включать минимум 100-250 слов (по ГОСТу – 850 знаков).</li>
  </ol>

  @Shared.HomeLinks(ViewContext.RouteData.Values["action"].ToString())
</div>