
@{
    ViewBag.Title = "Инструкция по добавлению заявки на публикацию";
}

<h2>@ViewBag.Title</h2>

<p>Регистрация в системе, добавление описания автора и добавление заявки на публикацию:</p>
<img src="~/Images/bh-add-article-2.gif" />
<p></p>
<p>Загрузка новой версии статьи:</p>
<img src="~/Images/bh-add-new-version.gif" />

