
@{
    ViewBag.Title = "Стоимость публикации";
}

<div style="max-width: 1000px; margin: auto;">
  <h3 class="text-center bold">Стоимость публикации в журнале @Constants.Jur</h3>

  <p>
    <b>бесплатно</b> – высылается только PDF со статьей (по электронной почте). Обратите внимание, что бумажный <b>экземпляр журнала при этом не высылается</b> но может быть получен в редакции.<br>
    <b>800</b> руб. – производится проверка в системе антиплагиат. Высылается только PDF со статьей (по электронной почте). Обратите внимание, что бумажный <b>экземпляр журнала при этом не высылается</b> но может быть получен в редакции.<br>
    <b>2900</b> руб. – высылается PDF и экземпляр журнала (по РФ)<br>
    <b>3200</b> руб. – высылается PDF и экземпляр журнала (по странам бывшего СССР)
  </p>

  <p class="alert alert-warning">Обратите внимание, что если требуется несколько журналов, необходимо оплачивать каждый из них.
    Например, если в статье два соавтора (живущих в России) и каждому из них требуется отдельный экземпляр, необходимо оплатить 5800 (2900 * 2).
  </p>

  <p>Реквизиты для оплаты высылаются вместе с подтверждением принятия статьи к публикации.</p>

  @Shared.FreePublication()
</div>
