
@{
    ViewBag.Title = "Стоимость публикации";
}

<h3 class="text-center bold">Стоимость публикации в журнале @Constants.Jur</h3>

<p>
  <b>2700</b> руб. - высылается только PDF со статьей (по электронной почте). Обратите внимание, что бумажный <b>экземпляр журнала при этом не высылается</b>.<br>
  <b>2900</b> руб. - высылается PDF и экземпляр журнала (по РФ)<br>
  <b>3200</b> руб. - высылается PDF и экземпляр журнала (по странам бывшего СССР)
</p>

<p>Реквизиты для оплаты высылаются вместе с подтверждением принятия статьи к публикации.</p>

@Shared.FreePublication()


