@{ ViewBag.Title = "Правила рецензирования статей"; }

<div style="max-width: 900px; margin: auto;">
  <h3 class="text-center bold">Правила рецензирования статей</h3>
  <OL>
    <LI>
      Рецензирование
      (экспертная оценка) рукописей научных статей, научных обзоров,
      научных рецензий и отзывов (далее &mdash; научные статьи) в редакции
      журнала &laquo;@Constants.Jur&raquo;
      осуществляется для поддержания высокого научно-теоретического уровня
      издания и в целях отбора наиболее ценных и актуальных
      (перспективных) научных работ.
    <LI>
      В журнале
      &laquo;@Constants.Jur&raquo; установлено
      двустороннее слепое (анонимное) рецензирование:
      <UL>
        <LI>
          рецензенту не раскрываются личные данные автора/авторов;
        <LI>
          автору/авторам
          не раскрываются личные данные рецензента.
      </UL>
    <LI>
      Поступившие
      от авторов научные статьи проходят первичный контроль на
      комплектность и правильность оформления в соответствии с Правилами
      направления статей
    <LI>
      Первичная
      экспертная оценка научной статьи осуществляется главным редактором
      или заместителем главного редактора.
    <LI>
      Главный
      редактор (заместитель главного редактора) определяет по статье
      рецензента члена редакционного совета, курирующего соответствующее
      направление (научную дисциплину).
      При
      отсутствии члена редакционного совета, курирующего соответствующее
      направление (научную дисциплину), главный редактор (заместитель
      главного редактора) определяет внешнего рецензента.

      Рецензенты
      (как входящие в состав редакционного совета, так и внешние) должны
      являться признанными специалистами по тематике рецензируемой статьи
      и иметь в течение последних 3 лет публикации по тематике
      рецензируемой статьи.
    <LI>
      Обязательное
      рецензирование проходят научные статьи, переданные в редакцию
      авторами, не имеющими ученой степени или имеющими ученую степень
      кандидата наук.

      Научные
      статьи, поступившие от авторов, имеющих ученую степень доктора наук,
      в том числе от членов редакционного совета, рецензируются по
      указанию главного редактора (заместителя главного редактора).
    <LI>
      После
      экспертной оценки научной статьи рецензент может:
      <UL>
        <LI>
          рекомендовать статью к опубликованию;
        <LI>
          рекомендовать статью к опубликованию после доработки с учетом замечаний;
        <LI>
          не рекомендовать статью к опубликованию.
      </UL>
      Если
      рецензент рекомендует статью к опубликованию после доработки с учетом замечаний или не рекомендует статью к опубликованию, в
      рецензии должны быть указаны причины такого решения.
      Редакция рекомендует использовать при рецензировании <A HREF="http://www.k-press.ru/bh/recensia_template.zip">типовую форму рецензии</A>
    <LI>
      При рецензировании научных статей рецензенты обязаны:
      <UL>
        <LI>
          обращать внимание на наличие в материале актуальности решаемой научной проблемы;
        <LI>
          охарактеризовать теоретическую и прикладную значимость исследования;
        <LI>
          оценить, как соотносятся выводы автора с существующими научными концепциями.
      </UL>

      Необходимым элементом рецензии должна служить оценка рецензентом личного вклада автора в решение рассматриваемой проблемы.

      Целесообразно отметить в рецензии соответствие стиля, логики и доступности изложения научному характеру материала,
      а также сделать заключение о достоверности и обоснованности выводов.
    <LI>
      <P>
        Наличие существенной доли критических замечаний рецензента при общей положительной рекомендации позволяет отнести
        материал к разряду полемичных и печатать его в порядке научной дискуссии.
      </P>
    <LI>
      При
      достаточных на то основаниях научные статьи могут направляться на
      дополнительное рецензирование. Основаниями для повторного
      рецензирования являются:
      <UL>
        <LI>
          заявленная
          экспертом (экспертами) недостаточная квалификация в вопросах,
          рассматриваемых в научной статье;
        <LI>недостаточно высокий уровень первоначального экспертного заключения;
        <LI>
          острая
          дискуссионность положений, высказанных в научной статье.
      </UL>
    <LI>
      Оформленную	рецензию рецензент представляет в редакцию в виде скан-копии по
      электронной почте или в бумажном виде по почте.
    <LI>
      Редакция направляет авторам представленных материалов копии рецензий или
      мотивированный отказ.
      normal">
      При этом
      для соблюдения положений пункта 2 настоящих Правил, редакция
      &laquo;обезличивает&raquo; рецензию, направляя автору выписку из
      рецензии, касающуюся существа статьи, но не раскрывая личных данных
      рецензента.
      normal">
      Редакция
      направляет копии рецензий в Министерство образования и науки РФ при
      поступлении соответствующего запроса.
    <LI>Рецензии хранятся в редакции в течение 5 лет.
  </OL>
</div>